/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.contacts-ListRow td {
  border-bottom: 1px solid #E2E2E2;
}

table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}
  
td.add-contact-label {
  text-align: left;
}

add-contact-input {
  border: 1px solid red;
  border-collapse: collapse;
  margin-right: 0px;
  margin-left: auto;
}
  
td.contacts-NavContainer {
  padding-left: 10px;
  padding-right: 10px;
}

td.contacts-ListMenu {
  background-color: #D0E4F6;
  padding-bottom: 6px;
}

td.contacts-ListContainer {
  padding-right: 10px;
}

.contacts-HeaderContainer {
  padding-right: 10px;
}

td.contacts-ListCheckbox {
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.contacts-ListName {
  padding-top: 2px;
  padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }