/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

/* }

.sendButton {
	display: block;
	font-size: 16pt;
}

* Most GWT widgets already have a style name defined
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

* Set ids using widget.getElement().setId("idOfElement")
#closeButton {
	margin: 15px 6px 6px;
}

body{
   text-align: center;
   font-family: verdana, sans-serif;
}
h1{
   
}
.table td {
   
}
*/
.flexTable-buttonPanel td {
   border: 0px;
}

.fixedWidthButton {
   width: 150px;
}
body{ margin:0; padding:0;    text-align: center; }

.center{ margin: 0px auto; width: 480px; text-align:left; }
 