
 
 .gwt-TextBox  { 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
background-color: #EAEAEA; 
background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
border: 1px solid #CACACA; 
color: #444; 
font-size: 1.4em; 
margin: 0 0 20px; 
padding: 5px 9px; 
width:90; 
} 
 .gwt-TextBox:focus { 
background: #FFF;
-webkit-box-shadow: 0 0 20px #CCC; 
-moz-box-shadow: 0 0 20px #ccc; 
box-shadow: 0 0 20px #CCC; 
-webkit-transform: scale(1.05); 
-moz-transform: scale(1.05); 
transform: scale(1.05); 
} 

