/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

.table{
    font: 18px Arial, sans-serif !important;
}
.navbar{
    background-color: blue;
    font-weight: BOLD !important;
    font-size: 18pt;
    text-align: center;
    text-decoration-color: red !important;
}
.tableHeader {
    background-color: blue;
    font-weight: BOLD !important;
    font-size: 18pt;
    text-align: center;
    text-decoration-color: red !important;
}

.Table-EvenRow {
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color:red;
}

.Table-OddRow {
    font-size: 4em;
    font-weight: bold;
    background-color: #33FFFF;
    margin: 40px 0px 70px;
    text-align: center;
}
.loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -100px;
}
.errorLabel{
    border: 4px solid;!important;
    background-color:red; !important;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}
